@charset "UTF-8";

.charge_wrap {
	width: 700px;
	height: 200px;
	border: 1px solid black;
	margin-left: 30%;
	margin-bottom: 300px;
}

.charge_tit {
	width: 700px;
	margin-top: 150px;
	margin-left: 30%;
	text-align: center;
	margin-left: 30%;
}

.charge_tit strong {
	text-align: left;
	font-size: 50px;
}

.charge_wrap strong {
	font-size: 20px;
	margin-left: -100px;
	color: #114da5;
}

.charge_money {
	float: left;
	width: 100px;
	height: 171px;
	background: #A6ACAF;
	margin-top: 29px;
	text-align: center;
}

.charge_detail {
	float: left;
	width: 600px;
	height: 171px;
	margin-top: 2px;
	background: #F2F3F4;
}

.charge_btn {
	width: 595px;
	height: 40px;
	margin-left: 4px;
	margin-top: 15px;
}

.charge_btn button {
	width: 80px;
	height: 40px;
	background-color: #fff;
	border: 1px solid #2ea5b9;
	color: #2ea5b9;
	cursor: pointer;
}

.input_money {
	width: 570px;
	height: 40px;
	margin-left: 14px;
	margin-top: 15px;
}

.input_money input {
	width: 200px;
	height: 34px;
	text-align: right;
}
.finally_charge {
	width: 570px;
	height: 40px;
	margin-left: 14px;
	margin-top: 8px;
}
.finally_charge button {
	width: 100px;
	height: 40px;
	margin-left: 220px;
	background-color: #114da5;
	border: none;
	color: #fff;
	cursor: pointer;
}
