<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.auction.project.DTO.AddressDTO" alias="addressDTO"></typeAlias>
		<typeAlias type="com.auction.project.DTO.MemberDTO" alias="memberDTO"></typeAlias>
		<typeAlias type="com.auction.project.DTO.SignUpDTO" alias="signUpDTO"></typeAlias>
		<typeAlias type="com.auction.project.DTO.DonationDTO" alias="donationDTO"></typeAlias>
		<typeAlias type="com.auction.project.DTO.Donation_ListDTO" alias="donation_listDTO"></typeAlias>
		<typeAlias type="com.auction.project.DTO.N_proDTO" alias="nproDTO"></typeAlias>
		<typeAlias type="com.auction.project.DTO.A_proDTO" alias="aproDTO"></typeAlias>
		<typeAlias type="com.auction.project.DTO.CServiceDTO" alias="cserviceDTO"></typeAlias>
		<typeAlias type="com.auction.project.DTO.E_MainDTO" alias="e_mainDTO"></typeAlias>
		<typeAlias type="com.auction.project.DTO.E_ListDTO" alias="e_listDTO"></typeAlias>
		<typeAlias type="com.auction.project.DTO.E_WinnerDTO" alias="e_winnerDTO"></typeAlias>
		<typeAlias type="com.auction.project.DTO.ChargeDTO" alias="chargeDTO"></typeAlias>
		<typeAlias type="com.auction.project.DTO.Fix_recordDTO" alias="fix_recordDTO"></typeAlias>
		<typeAlias alias="a_productDTO" type="com.auction.project.DTO.A_productDTO"/>
		<typeAlias alias="a_product_listDTO" type="com.auction.project.DTO.A_product_listDTO"/>
	</typeAliases>
	<mappers>
		<mapper resource="mapper/signUpMapper.xml" />
		<mapper resource="mapper/AdminMemberMapper.xml" />
		<mapper resource="mapper/donationMapper.xml" />
		<mapper resource="mapper/NProMapper.xml" />
		<mapper resource="mapper/AProMapper.xml" />
		<mapper resource="mapper/cserviceMapper.xml" />
		<mapper resource="mapper/eventMapper.xml" />
		<mapper resource="mapper/chargeMapper.xml" />
		<mapper resource="mapper/Fix_recordMapper.xml" />
		<mapper resource="mapper/mypageMapper.xml" />
		<mapper resource="mapper/A_productMapper.xml"/>
	</mappers>
</configuration>
