<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mypageDAO">

	<select id="select_signUp" parameterType="signUpDTO" resultMap="rsMap">
		SELECT a.email	<!-- member  / 사용자 이메일 -->
			 , a.pw		<!-- member  / 사용자 비밀번호 -->
			 , a.birth	<!-- member  / 사용자 생년월일 -->
			 , a.name	<!-- member  / 사용자 이름 -->
			 , a.tel	<!-- member  / 사용자 전화번호 -->
			 , b.addr1	<!-- address / 사용자 우편번호 -->
			 , b.addr2	<!-- address / 사용자 주소 -->
			 , b.addr3	<!-- address / 사용자 상세주소 -->
	 	  FROM member a		<!-- 회원 정보  -->
	 	     , address b	<!-- 회원 주소 -->
		 WHERE a.email = b.member_email
		   AND a.email = #{email}
	</select>
	<select id="login_member" parameterType="signUpDTO" resultMap="rsMap">
		SELECT a.email	
			 , a.pw		
			 , a.birth	
			 , a.name	
			 , a.tel
			 , b.money
		  FROM member a
		     , (select member_email
		             , sum(money) as money
		          from MEMBER_MONEY
		         where member_email = #{email}
		          group by member_email) b
		 WHERE a.email = b.member_email
		   and a.email = #{email}
		   and a.pw = #{pw}
	</select>
	
	<select id="login_admin" parameterType="signUpDTO" resultMap="rsMap">
		SELECT a.id		<!-- admin  / 관리자 아이디 -->
			 , a.pw		<!-- admin  / 관리자 비밀번호 -->
	 	  FROM admin a
		 WHERE a.id = #{email}
		   and a.pw = #{pw}
	</select>

	<resultMap type="signUpDTO" id="rsMap">
		<result property="email" column="email" />
		<result property="pw" column="pw" />
		<result property="name" column="name" />
		<result property="tel" column="tel" />
		<result property="birth" column="birth" />
		<result property="recipient" column="recipient" />
		<result property="place" column="place" />
		<result property="addr1" column="addr1" />
		<result property="addr2" column="addr2" />
		<result property="addr3" column="addr3" />
		<result property="money" column="money" />
	</resultMap>
	
	<resultMap type="signUpDTO" id="admin_rsMap">
		<result property="email" column="email" />
		<result property="pw" column="pw" />
	</resultMap>
	
	<resultMap type="donation_listDTO" id="list_rsMap">
		<result property="sq" column="sq" />
		<result property="dona_num" column="dona_num" />
		<result property="dona_tit" column="dona_tit" />
		<result property="member_email" column="member_email" />
		<result property="dona_money" column="dona_money" />
		<result property="dona_date_yy" column="dona_data_yy" />
		<result property="dona_date_mm" column="dona_data_mm" />
		<result property="dona_date_dd" column="dona_data_dd" />
	</resultMap>
	
	<resultMap type="e_listDTO" id="e_list_rsMap">
		<result property="e_num" column="e_num" />
		<result property="e_product" column="e_product" />
		<result property="member_email" column="member_email" />
		<result property="name" column="name" />
		<result property="e_count" column="e_count" />
		<result property="e_input_date" column="e_input_date" />
	</resultMap>
	
	<resultMap type="e_winnerDTO" id="winner_rsMap">
		<result property="e_winner_seq" column="e_winner_seq" />
		<result property="e_num" column="e_num" />
		<result property="e_product" column="e_product" />
		<result property="member_email" column="member_email" />
		<result property="name" column="name" />
	</resultMap>
	
	<resultMap type="signUpDTO" id="sign_rsMap">
		<result property="email" column="email" />
		<result property="pw" column="pw" />
		<result property="name" column="name" />
		<result property="tel" column="tel" />
		<result property="birth" column="birth" />
		<result property="recipient" column="recipient" />
		<result property="place" column="place" />
		<result property="addr1" column="addr1" />
		<result property="addr2" column="addr2" />
		<result property="addr3" column="addr3" />
		<result property="money" column="money" />
	</resultMap>
	
	<resultMap type="a_product_listDTO" id="pro_list_rsMap">
		<result column="a_email" property="a_email"/>
		<result property="a_title" column="a_title" />
		<result property="a_endmoney" column="a_endmoney" />
		<result property="a_input_data" column="a_input_data" />
	</resultMap>
	
	<select id="my_pro_list" parameterType="a_product_listDTO" resultMap="pro_list_rsMap"> 
		select * from a_product_list where a_email = #{a_email}
	</select>
	
	<select id="my_dona_list" parameterType="donation_listDTO" resultMap="list_rsMap">
		select * from d_list where member_email = #{member_email}
	</select>
	
	<select id="my_event_list" parameterType="e_listDTO" resultMap="e_list_rsMap">
		select member_email
		     , e_product
		     , e_num
		     , sum(e_count) as e_count
		     , e_input_date
		  from e_list
		 where member_email = #{member_email}
		 group by member_email,e_product, e_num, e_input_date
		 order by e_input_date desc
	</select>
	
	<select id="my_winner_list" parameterType="e_winnerDTO" resultMap="winner_rsMap">
		select * from e_winner where member_email = #{member_email}
	</select>
	
	<select id="selectAll" resultMap="rsMap">
		SELECT a.email,		<!-- member  / 사용자 이메일 -->
			 , a.pw			<!-- member  / 사용자 비밀번호 -->
			 , a.name		<!-- member  / 사용자 이름 -->
			 , a.tel		<!-- member  / 사용자 전화번호 -->
			 , a.birth		<!-- member  / 사용자 생년월일 -->
			 , c.place,		<!-- account  / 사용자 주소지 -->
			 , c.recipient	<!-- account  / 사용자 수령자 -->
			 , c.tel		<!-- account  / 사용자 전화번호 -->
			 , c.addr1		<!-- account  / 사용자 우편번호 -->
			 , c.addr2		<!-- account  / 사용자 주소 -->
			 , c.addr3		<!-- account  / 사용자 상세주소 -->
		  FROM member a, account c, 
		 WHERE a.email = c.member_email
	</select>

	<insert id="insert_member" parameterType="signUpDTO">
		INSERT INTO member VALUES(#{email},#{pw},#{name},#{tel},#{birth})
	</insert>
  	<insert id="insert_address" parameterType="signUpDTO">
		INSERT INTO address VALUES(#{email},#{place},#{recipient},#{tel},#{addr1},#{addr2},#{addr3})
	</insert>

	<update id="myPage_member_update" parameterType="signUpDTO">
		UPDATE member
		   SET
		   tel = #{tel}
		 WHERE
		 email = #{email}
	</update>
	<update id="myPage_address_update" parameterType="signUpDTO">
		UPDATE address
		   SET
		 addr1 = #{addr1}
	   , addr2 = #{addr2}
	   , addr3 = #{addr3}
		 WHERE member_email = #{email}
	</update>
	<update id="myPage_member_password_update" parameterType="signUpDTO">
		UPDATE member
		   SET
		 pw = #{pw}
		 WHERE email = #{email}
	</update>
	

	<delete id="delete" parameterType="signUpDTO">
		DELETE FROM tablename1 WHERE
		columnname1 = #{param1}
	</delete>

	<select id="myPage_member_select" parameterType="signUpDTO" resultMap="sign_rsMap">
		 select a.email
		      , a.pw
		      , a.name
		      , a.tel
		      , a.birth
		      , b.addr1
		      , b.addr2
		      , b.addr3
		   from member a
		      , address b
		  where a.email = b.member_email
		    and a.email = #{email}
	</select>
</mapper>
